.header-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    position: relative;
    margin-right: 20px;

    &:hover,
    &:focus-within {
      color: var(--black-color);

      .header-menu__dropdown {
        display: block;
      }
    }
  }

  &__link {
    font-size: 20px;
    line-height: 28px;
    margin-left: 10px;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: var(--orange-color);
    }
  }

  &__dropdown {
    @include anim(drop, 0.4s);
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    color: var(--dark-blue-color);
    background-color: var(--light-yellow-color);
    border-radius: 8px;
    z-index: 2;

    &-item {
      padding: 0 10px;
    }

    &-link {
      display: inline-block;
      padding: 10px 4px;
      text-decoration: none;
      color: inherit;

      &:hover {
        color: var(--orange-color);
      }
    }
  }
}