.header-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  &>li {
    position: relative;
    margin-right: 20px;

    &:hover {
      color: var(--white-color);
    }

    &:hover,
    &:focus-within {
      & .header-menu__dropdown {
        display: block;
      }
    }
  }

  & a {
    color: inherit;
    font-size: 24px;
    line-height: 28px;
    margin-left: 10px;

    &:hover {
      color: var(--orange-color);
    }
  }

  &__dropdown {
    @include anim(drop, 0.4s);
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    color: var(--dark-blue-color);
    background-color: var(--gray-color);
    border-radius: 8px;
    z-index: 2;

    & a {
      display: inline-block;
      padding: 10px 4px;
    }
  }
}