.site-header {
  color: var(--black-color);
  background-color: var(--white-color);

  &__top {
    padding-top: 10px;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--light-yellow-color);
  }

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social-list {
    @include list-reset;

    display: flex;

    &>* {
      display: flex;
      margin-left: 10px;
    }
  }

  &__bottom-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo-link {
    flex-shrink: 0;

    & img {
      width: 130px;
    }
  }

  &__nav {
    display: grid;
    grid-template-rows: 0fr;
    flex-basis: 100%;
    transition: grid-template-rows 0.4s ease-in-out;

    &.is-open {
      grid-template-rows: 1fr;
    }
  }

  &__menu-wrapper {
    overflow: hidden;
  }

  @include media-min ($md) {
    &__logo-link {

      & img {
        width: 200px;
      }
    }

    &__nav {
      display: block;
      flex-basis: auto;
    }
  }
}
