.prevoz-list {
  &__item {
    position: relative;
    list-style: none;
    font-size: 20px;
    padding-bottom: 5px;
    text-shadow: -2px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    z-index: 2;

    @include media-min($lg) {
      font-size: 25px;
    }

    @include media-min($md) {
      font-size: 30px;
    }

    @include media-min($xxl) {
      font-size: 40px;
    }
  }
}