.main-banner {
  width: 100%;

  &__content {
    padding: 60px 0;
    min-height: 500px;
    background-image: url('../img/image-30-09-24-07-02.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;

    @include media-min($md) {
      min-height: 700px;
    }

    @include media-min($xxl) {
      min-height: 750px;
    }

    @include media-min($fhd) {
      min-height: 850px;
    }

    .main-banner__text {
      font-size: 40px;
      margin-bottom: 20px;
      color: #fff;
      text-transform: uppercase;
      text-shadow: -2px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .main-banner__contact {
      color: #fff;
      font-size: 24px;
      margin-bottom: 20px;
      text-decoration: none;
      background-color: var(--orange-color);
      border-radius: 8px;
      padding: 10px 20px;
      display: inline-block;
    }

    .main-banner__social-links {
      display: flex;
      justify-content: center;
      padding-left: 0;
      list-style-type: none;

      &>li:hover {
        filter: brightness(0.7);
      }
    }
  }
}

.main-banner__timetable {
  color: var(--white-color);
  border-bottom-right-radius: 50px;
  background-image: url('../img/3.webp');
  padding: 15px 0;

  .timetable__text {
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
  }
}