.contacts {
  border-bottom-right-radius: 50px;
  background-color: var(--gray-color);
  background-image: url('../img/2.jpg');
  padding: 15px 0;

  &__phone {
    font-size: 18px;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--orange-color);
    border-radius: 8px;
    padding: 10px 10px;
    display: inline-block;
  }

  &__socials {
    --icon-size: 60px;

    @include list-reset;

    display: flex;
    justify-content: center;
    align-items: center;

    &>* {
      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }

  @include media-min ($sm) {
    &__phone {
      font-size: 20px;
    }
  }

  @include media-min ($md) {
    &__phone {
      font-size: 26px;
    }
  }

  @include media-min ($lg) {
    &__contacts {
      transition: background-color .2s ease-in-out;

      &:hover {
        background-color: var(--orange-70-color);
      }
    }

    &__phone {
      font-size: 32px;
    }
  }

  @include media-min($xl) {
    &__phone {
      font-size: 34px;
    }
  }

  @include media-min($xxl) {
    &__phone {
      font-size: 36px;
    }
  }
}