.site-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  color: #ffffff;
  background-color: var(--light-blue-color);

  .main-banner {
    width: 100%;

    &__content {
      height: 700px;
      background-image: url('../img/image-30-09-24-07-02.webp');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      border-image: fill 0 linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
      overflow: hidden;

      .banner-content__text {
        font-size: 40px;
        margin-bottom: 20px;
        cursor: default;
        color: #fff;
        text-shadow: -2px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
          1px 1px 0 #000;
      }

      .main-banner__contact {
        color: #fff;
        font-size: 24px;
        margin-bottom: 20px;
        text-decoration: none;
        background-color: var(--orange-color);
        border-radius: 8px;
        padding: 10px 20px;
        display: inline-block;
      }

      .banner-content__massenger {
        display: flex;
        justify-content: center;
        padding: 0;
        gap: 10px;
        list-style-type: none;

        &>li:hover {
          filter: brightness(0.7);
        }
      }
    }
  }

  &__timetable {
    width: 100%;
    font-size: 18px;
    color: var(--white-color);
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-right-radius: 50px;
    cursor: default;
    background-image: url('../img/3.webp');

  }

  &__service {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--black-color);

    .service-description {
      flex: 1;
      padding-right: 20px;

      & h2 {
        font-size: 28px;
        margin-bottom: 15px;
        cursor: default;
        border-bottom: 2px solid var(--light-yellow-color);
      }

      & h3 {
        font-size: 24px;
        margin-bottom: 20px;
        cursor: default;
        border-bottom: 2px solid var(--light-yellow-color);
      }

      &__menu {
        list-style: none;
        padding: 0;
        margin: 0;

        .description__item {
          margin-bottom: 10px;
          font-size: 16px;
          line-height: 1.5;
          padding-left: 20px;
          position: relative;
          cursor: default;

          &::before {
            content: '✔';
            color: var(--orange-color);
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }

    .service__map {
      flex: 1;
    }

    .service__map-iframe {
      width: 100%;
      padding: 0;
      border: 0;
      border-radius: 8px;
    }
  }

  .definition {
    cursor: default;

    & h4 {
      font-size: 20px;
      border-bottom: 2px solid var(--light-yellow-color);
    }

    & p {
      font-size: 16px;
    }
  }

  @include media-max($sm) {
    .main-banner {
      &__content {
        height: 300px;
      }
    }
  }
}