.footer-menu {
  display: grid;
  row-gap: 8px;
  justify-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__link {
    color: var(--black-color);
    text-decoration: none;
  }

  @include media-min ($md) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      margin-right: 20px;
    }
  }

  @include media-min ($lg) {
    justify-content: center;

    &__item {
      margin-right: 30px;
    }

    &__link {
      &:hover {
        color: var(--orange-color);
      }
    }
  }
}
