.site-footer {
  color: #ffffff;
  background-color: var(--dark-blue-color);

  &__top {
    padding-top: 10px;
    border-bottom: 2px solid var(--light-blue-color);
  }

  & &__top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    & li {
      margin-left: 10px;
    }


  }



  &__social-link {
    display: inline-flex;
    width: 40px;
    height: 40px;

    &:hover {
      filter: brightness(0.7);
    }
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    &>li {
      position: relative;
      margin-right: 20px;
    }

    & a {
      color: var(--white-color);
      text-decoration: none;
      margin-right: 10px;

      &:hover {
        color: var(--light-yellow-color);
      }
    }



    // hover не работает почему-то 

  }

  &__logo {
    width: 96px;
    height: 96px;
  }

  &__copyright {
    text-align: end;
  }
}