.site-footer {

  &__top {
    padding-top: 10px;
    border-bottom: 2px solid var(--light-yellow-color);
  }

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social-list {
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  &__social-link {
    display: inline-flex;

    &:hover {
      filter: brightness(0.7);
    }
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    @include media-max ($lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-max ($md) {
      grid-template-columns: 1fr;
      justify-items: center;
      margin-bottom: 10px;
    }

    &>li {
      position: relative;
      margin-right: 20px;

      @include media-max ($md) {
        margin: 0;
      }
    }

    & a {
      color: var(--black-color);
      text-decoration: none;
      margin-right: 10px;

      @include media-max ($md) {
        margin: 0;
      }

      &:hover {
        color: var(--orange-color);
      }
    }
  }

  &__logo {
    width: 150px;
    height: auto;
  }

  &__copyright {
    text-align: end;
    margin: 0;
  }
}