.site-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  background-color: var(--light-blue-color);
  color: #ffffff;

  .main-banner {
    width: 100%;



    &__content {

      background-image: url('../../img/IMG_6694.jpeg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      border-image: fill 0 linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
      overflow: hidden;

      .banner-content__massenger {
        font-size: 36px;
        margin-bottom: 20px;
        color: #fff;
        text-shadow: -2px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
          1px 1px 0 #000;
      }

      .main-banner__contact {
        color: #fff;
        font-size: 24px;
        margin-bottom: 20px;
        text-decoration: none;
        background-color: var(--orange-color);
        border-radius: 8px;
        padding: 10px 20px;
        display: inline-block;
      }

      .banner-content__massenger {
        display: flex;
        justify-content: center;
        gap: 10px;
        list-style-type: none;

        &>li:hover {
          filter: brightness(0.7);
        }
      }


    }
  }

  &__timetable {
    width: 100%;
    background-color: var(--dark-blue-color);
    color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-right-radius: 50px;

    &__text {
      font-size: 18px;
      margin: 0;
      padding: 10px 20px;
      border-radius: 5px;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }

  &__service {
    width: 100%;
    background-color: var(--light-blue-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding-top: 20px;
    align-items: center;
    color: var(--dark-blue-color);

    .service-description {
      flex: 1;
      padding-left: 20px;

      & h2 {
        font-size: 24px;
        margin-bottom: 15px;
      }

      & h3 {
        font-size: 20px;
        margin-bottom: 20px;
      }

      &__menu {
        list-style: none;
        padding: 0;
        margin: 0;

        .description__item {
          margin-bottom: 10px;
          font-size: 16px;
          line-height: 1.5;
          padding-left: 20px;
          position: relative;

          &::before {
            content: '✔';

            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }


    }

    .service__map {

      flex: 1;
    }

    .service__map-iframe {
      width: 95%;

      border: 0;
      border-radius: 8px;
    }
  }
}