:root {
  --white-color: #FFFFFF;
  --light-blue-color: #0749786e;
  --gray-color: #7d8080;
  --light-yellow-color: #f8d678;
  --orange-color: #F76C6C;
  --dark-gray-color: #4f6457;

  // other vars
  --min-site-width: 375px;
  --max-site-width: 1600px;
}

$sm: 540px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
$fhd: 1920px;
$main-font: "Open Sans";