:root {
  --white-color: #FFFFFF;
  --dark-blue-color: #24305e;
  --light-blue-color: #a8d0e6;
  --light-yellow-color: #F8E9A1;
  --orange-color: #F76C6C;

  // other vars
  --min-site-width: 375px;
  --max-site-width: 1600px;
}

$sm: 540px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
$fhd: 1920px;
$main-font: "Open Sans";